/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

.container {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

//Breakpoints 480, 600, 840, 960, 1280, 1440, and 1600dp

// Larger than 480
@media (#{$bp-larger-than-mobile}) {
  .container {
    // width: $container-width-larger-than-mobile;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: minmax(310px, 3fr) minmax(80px, 1fr);
    grid-template-rows: 80px repeat(3, minmax(80px, 100px));
    grid-template-areas: 
      "main head"
      "main contact"
      "main social"
      "main foot";
  }

  header {
    grid-area: head;
    background-color: rgb(255, 0, 0);
  }

  main {
    grid-area: main;
    background-color: rgb(134, 134, 134);
  }
  
  .contact-form {
    grid-area: contact;
    background-color: rgb(0, 255, 55);
  }

  .social {
    grid-area: social;
    background-color: rgb(0, 102, 255);
  }

  footer {
    grid-area: foot;
    background-color: rgb(255, 251, 0);
  }
}

// Larger than 600 (Content grid becomes active)
@media (#{$bp-larger-than-phablet}) {}

// Larger than 840
@media (#{$bp-larger-than-tablet}) {}

// Larger than 1280
@media (#{$bp-larger-than-desktop}) {}

// Larger than 1440
@media (#{$bp-larger-than-desktophd}) {}

// Clearing
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Self Clearing Goodness

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
